<%- include('../partials/header', { title: 'Subscription cancelled', appName }) %>
<p class="text-body">Hi <span class="text-strong"><%= customerName %></span>,</p>
<p class="text-body">
  Your subscription has been cancelled. You will not be charged again unless you reactivate.
</p>
<%- include('../partials/footer', { appName }) %>