              </td>
            </tr>
            <tr>
              <td class="email-footer">
                <p>This message was sent by <%= appName %>.</p>
                <p>If you did not expect this email, you can safely ignore it.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>